* {margin:0px;padding:0px; box-sizing:border-box;}

body{color: rgb(83, 74, 74); font-family: sans-serif; background-color: 
    white;}

/* Navbar */
nav{ font-size: 18px; position: sticky; top:0px;
 padding: 0px; margin: 0px; width: 100%;
display: flex; align-items: center; justify-content: space-between;
 margin-top: 20px; background-color: 
 white;
}

ul{list-style: none;}

a{text-decoration:none; color:rgb(92, 85, 85);}

.logo{text-align: center; margin:5rem; padding:5px;}
.logo>img {width: 150px;}

.bigdrop >ul{list-style: none; display: flex;  justify-content: space-between; margin-right:6rem;}
.bigdrop >ul li a{padding: 15px;}
.drop{display: none; position: absolute;}
.drop{background-color: white; padding: 5px 0px;box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;}
.drop>li{padding: 5px 10px;}


li{padding: .5rem;}
.log a {border-radius: 40px; border: 1px solid black;}
.sign a { background-color: rgb(110, 110, 255); border:1px solid rgb(110, 110, 255); border-radius: 40px; color: white;}

.big>li:nth-child(4) {cursor: pointer;}
.drop>li:hover{ background-color: rgb(224, 223, 223);}
.big>li:nth-child(4):hover  .drop{display: block;}
.log>a:hover {background-color: rgb(110, 110, 255); border-color: blue; color: white}
.sign>a:hover{background-color: blue;}


/* Video at scale */
#scale {display: grid; grid-template-columns: repeat(2,1fr);
    padding: 0px;  width: 85%; margin: auto;
}


#scale>div:nth-child(1) {display: flex;  flex-direction: column;
  height: auto; padding: 0 15%;}

 #scale>div>div>p {font-size: 40px; margin-bottom: 30px; font-weight: bolder}
#scale>div>div>h2 {font-weight:lighter; color:rgb(92, 83, 83); margin-bottom: 30px;}


#scale>div:nth-child(1)>div:nth-child(2)>a>button {text-align: center; padding: 20px; font-size: 18px; background-color: rgb(101, 101, 255); color: white; border:none; border-radius: 40px; cursor: pointer;}


#scale>div:nth-child(1)>div:nth-child(2)>a>button:hover {background-color: blue;}

#scale>div:nth-child(2)>img {width: 100%;}

/* Logo  */
.logos{width: 80%; margin:auto; margin-top: 70px;}
.logos>h2{text-align: center; font-size: 30px;}

.logos>div {display: grid; grid-template-columns: repeat(8,1fr); gap: 3%}
.logos>div>img {width: 100%;}


/* Slide deck */
.slide {display: flex; width: 86%; margin: auto; gap:10%; align-items: center; margin-top: 90px;}
.slide>div>img {width: 100%;}
.slide>div:nth-child(1) {width: 55%;}
 .fa-file {margin-bottom: 40px;} 
.slide>div:nth-child(2){width: 40%;}
.slide>div:nth-child(2)>div h1{font-size: 40px; margin-bottom: 40px}
.slide>div:nth-child(2)>div h2{font-size: 26px; font-weight: lighter; margin-bottom: 30px;}
.slide>div:nth-child(2)>i {font-size: 40px;}
hr {margin-top: 50px; margin-bottom:50px}

.slide>div:nth-child(2)>div>p{font-size: 17px;}
.slide>div:nth-child(2)>div>p>a{text-decoration: none; color:blue;}

.slide>div:nth-child(2)>div>p>a:hover{text-decoration: underline;}


/* AI built */
.built {display: flex; flex-direction: row-reverse; width: 86%; margin: auto; gap:10%; align-items: center; margin-top: 90px;}
.built>div>img {width: 100%;}
.built>div:nth-child(1) {width: 55%;}

.built>div:nth-child(2){width: 40%}
.built>div:nth-child(2)>div h1{font-size: 40px; margin-bottom: 40px;}
.built>div:nth-child(2)>div h2{font-size: 26px; font-weight: lighter; margin-bottom: 30px;}
.fa-image{margin-bottom: 40px;}
.built>div:nth-child(2)>i {font-size: 40px;}
hr {margin-top: 50px; margin-bottom:50px}

.built>div:nth-child(2)>div>p{font-size: 17px;}
.built>div:nth-child(2)>div>p>a{text-decoration: none; color: blue;}

.built>div:nth-child(2)>div>p>a:hover{text-decoration: underline;}

/* Template designed with slide deck */
.fa-palette {background-color: #f8558e ; padding: 10px; color: white; border-radius: 100%; margin-bottom: 40px;}



/* Captivating video */
.captivating{width: 86%;margin: auto;box-sizing: border-box; margin-bottom: 100px; margin-top: 50px;}
.captivating>h1{text-align: center; font-size: 40px; margin-bottom: 20px;}
.captivating>h3{text-align: center; font-size: 20px; margin-bottom: 40px;}

.captivating>div {display: grid; grid-template-columns: repeat(3,1fr); grid-template-rows: repeat(3,100px); gap: 40px; grid-row-gap: 130px;}

.captivating>div>video{width: 100%; border-radius: 20px;}

/* Slider Section */
.customer{
    text-align: center; font-size: 40px; margin-top: 150px;
}
.imagemove { height: 500px; margin: auto; margin-top: 10px; width: 75%;
    background-image: url("https://wallpaperaccess.com/full/181937.jpg");
    background-repeat: no-repeat;
    background-origin: content-box;
    border:1px solid black;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    border:none;
    border-radius: 15px;
}
a{text-decoration: none; color:black;}
.box {position: absolute; right: 3%; top: 5%;
width: 400px; height: 300px; padding: 3.5%; font-size: 18px;}

.read{text-align: right; margin-top: 30px;}
.read:hover {text-decoration: underline;}

.downimg {width: 70%; margin: auto; display: grid; grid-template-columns: repeat(7,1fr); gap: 10px;}
.downimg>img {width: 100%; opacity: .6;}
.downimg>img:hover {opacity: 1;}


/* Explore Section */

.buttongrid {display: grid; grid-template-columns: repeat(5,1fr); 
    gap: 5%; width: 95%; margin:auto; margin-bottom: 40px;}
   .buttongrid>button{padding: 15px 5px; background-color: white; border-radius: 20px; border-width: 1px; color: rgb(74, 74, 254); border-color: rgb(74, 74, 254); font-size: 16px; font-weight: bold;}
   
   .buttongrid>button:hover {
       background-color: rgb(59, 59, 173); color: white; text-decoration: underline; cursor:pointer;
   }
   
   /* Explore video*/
   .expo{width: 86%;margin: auto;box-sizing: border-box; margin-bottom: -200px; margin-top: 150px;}
   .expo>h1{text-align: center; font-size: 40px; margin-bottom: 20px;}
   
   
   .explore {display: grid; grid-template-columns: repeat(3,1fr); grid-template-rows: repeat(3,100px); gap: 40px; grid-row-gap: 130px;}
   
   .explore>video{width: 100%; border-radius: 20px;}


   /* Learning Section */
   .learning{ width: 65%; margin: auto;
    display: grid; grid-template-columns:repeat(3,1fr); gap: 3%;
}
.learning>div {box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;padding: 10px;}
.learning>div>h2{font-weight: lighter; margin-bottom: 40px;}
.learning>div>img {width: 100%; margin-bottom: 40px;}
.learning>div>p {text-align: right; }
.learning>div>p a {text-align: right; font-size: 19px; text-decoration: none; color: blue;}

.learning>div>p a:hover {text-decoration: underline;}


/* Companies Section */
.companies{ width: 70%; padding: 100px 60px; margin:auto; text-align: center; border-radius: 20px;
    background-image: url("https://images.unsplash.com/photo-1557683311-eac922347aa1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGJsdWUlMjBiYWNrZ3JvdW5kc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

.companies{
    width: 87%;
    margin-top: 100px;
    margin-bottom: 100px;
}
.companies h1 {font-size: 40px; width: 70%; margin:auto; margin-top: -50px; margin-bottom: 30px;}
.companies h2 {font-size: 23px; font-weight: lighter; width: 70%; margin: auto;  margin-bottom: 50px;}
.companies a {padding: 15px 20px; background: white; color: blue; border-radius: 20px; text-decoration:none; font-size: 17px;
}
.companies>a:hover {background-color: whitesmoke;}

/* Footer */
footer {background: #24282f; color: white; padding:5% 10%;}
footer>div>a {text-decoration: none; color: rgb(201, 201, 201);}
footer>div>a:hover {text-decoration: underline;}

footer{display: grid; grid-template-columns: 2fr repeat(3,1fr);}
footer>div>a>img {width:70%;}
footer>div{display: flex; flex-direction: column;}
footer>div:nth-child(2),footer>div:nth-child(3),footer>div:nth-child(4){gap: 30px; color:white;}    

footer>div>div , footer>div>a>img{margin-bottom: 40px;}
footer>div:nth-child(1) {margin-right: 100px;}

.copyright {height: 80px; width: 100%; background-color: #1b1b1b; color: white; display: flex;  justify-content: space-between; align-items: center;}

.copyright>div:nth-child(1){margin-left: 6%;}
.copyright>div:nth-child(2){margin-right: 6%;}
.copyright>div>a {text-decoration: none; color: white;}
.copyright>div>a:hover {text-decoration: underline;}








@media screen and (min-width: 501px) and (max-width: 900px){
    nav{flex-direction: column; font-size: 15px;}
    .logo{margin-left:1rem}
    .bigdrop>ul {margin:1rem;}
    .bigdrop >ul li a{padding: 10x;}
    .bigdrop >ul li a{padding: 10px;}
    #scale{width: 85%; grid-template-columns: auto; gap: 20px;}
    #scale>div>div>p {font-size: 36px;}
    #scale>div>div>h2{font-size: 20px;}
    .logos{width: 86%}
    .logos>div{grid-template-columns: repeat(5,auto);}

    
 .slide {flex-direction: column-reverse; margin-top: 70px; width: 90%;}
    .slide>div:nth-child(1) {width: 100%;}
.slide>div:nth-child(2){width: 100%}


.built {flex-direction: column-reverse; margin-top: 70px; width: 90%;}
.built>div:nth-child(1) {width: 100%;}
.built>div:nth-child(2){width: 100%}

.captivating>div{
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(5, 100px);
grid-row-gap: 100px;
}

h1{font-size: 34px;}
h3{font-size: 20px;}
.imagemove{height: 450px; width: 85%;}
.box { right: 2%; top: 4%;
    width: 80%; height: 340px; padding: 1.5%; font-size: 18px;}
    .downimg {width: 85%;  grid-template-columns: repeat(5,1fr); gap: 10px;}
  
    .expo{margin-bottom: -20px;}
.explore{
grid-template-columns: repeat(2,1fr);
grid-template-rows: repeat(3, 100px);
grid-row-gap: 100px;
}
.buttongrid{grid-template-columns: repeat(2,1fr);} 

.learning{width: 90%;}

.companies{width: 80%;}
.companies h1 {margin:auto; margin-bottom: 30px; font-size: 34px; width: 90%;}
.companies h2 {margin:auto; margin-bottom: 20px; width: 90%;}

footer{padding: 3% 7%; grid-template-columns: 1fr 1fr 1fr; justify-content: space-between; grid-row-gap: 50px;}

footer>div:nth-child(2),footer>div:nth-child(3),footer>div:nth-child(4){gap: 20px; color:white;} 
footer>div>div {margin-bottom: 25px;}

footer>div>p {font-size: 14px;}
}






@media screen and (min-width: 100px) and (max-width: 500px){


    nav{flex-direction: column; font-size: 12px;}
    .logo{margin-left:.1rem;}
    .bigdrop >ul li a{padding: 3px;}
    .bigdrop>ul {margin:.1rem; display:grid;grid-template-columns: repeat(4,1fr); align-items: flex-start;}
    .bigdrop >ul li a{padding: 5px;}


    #scale{width: 95%; grid-template-columns: auto; gap: 20px;}
    #scale>div>div>p {font-size: 29px}
    #scale>div>div>h2 {font-size: 18px;}
    .logos{width: 95%;}
    .logos>div{grid-template-columns: repeat(4,1fr);}

    .slide {flex-direction: column-reverse; margin-top: 60px; width: 90%;}
    .slide>div:nth-child(1) {width: 100%;}
.slide>div:nth-child(2){width: 100%}


.built {flex-direction: column-reverse; margin-top: 70px; width: 90%;}
.built>div:nth-child(1) {width: 100%;}
.built>div:nth-child(2){width: 100%}

.captivating{margin-bottom: -540px;}
.captivating>div{
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(9, 100px);
    grid-row-gap: 40px;
}

h1{font-size: 29px; margin-top: 50px;}
h3{font-size: 18px;}
.imagemove{
    height: 350px; width:95%;
}
.box { right: 3%; top: 5%;
    width: 85%; height: 310px; padding: 3.5%; font-size: 14px;}
    p.read{text-align: right; margin-top: 7px;}
  
.downimg {width: 90%; grid-template-columns: repeat(4,1fr); gap: 10px;}
.downimg>img {width: 100%;}

.expo{margin-bottom:0px;}
.explore{
grid-template-columns: repeat(1,1fr);
grid-template-rows: repeat(6, 100px);
grid-row-gap: 140px;
}
.buttongrid{grid-template-columns: repeat(1,1fr); margin-bottom: 100px;} 

.learning{grid-template-columns: repeat(2,1fr);
width: 95%;}

#oneh1{margin-top: 150px;}
.companies{width: 95%; padding: 30px 5px 30px 5px; }
.companies h1 {margin-top: 50px; font-size: 29px; width: 95%;}
.companies h2{font-size: 18px; width: 95%;}

footer{padding: 3% 7%; grid-template-columns: 1.5fr 1fr;
grid-row-gap: 40px;}

footer>div:nth-child(2),footer>div:nth-child(3),footer>div:nth-child(4){gap: 10px; color:white;}  
footer>div>div {margin-bottom: 15px;}
footer>div>p {font-size: 12px;}
.copyright{font-size: 12px;}
}
